body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2 {
    letter-spacing: 5px;
}
[class*="title"]{
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 2rem;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}




