// background color
$darkgreen: #164732;
$gold: #fdc005;
$yellow: #feda00;
$black: #000;
$blue:#8580e4;
$brightblue:#0800c7;
$lightgrey: #f5f4fc;
// font color

$white: #fff;
$black: #000;
$green: #1dde6b;
$sand: #937f0f;
$grey: #8a8a8a;
